* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5c6b73;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  object-fit: cover;
}

.top-page {
  background-color: #4c5b5c;
}

.bottom-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.logo-ps {
  display: flex;
  align-items: flex-start;
  width: 300px;
  padding-left: 2em;
}

#productos {
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}

.tarjetas {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  width: 350px;
  height: 400px;
}

.tarjetas > img {
  width: 300px;
  height: 300px;
}
